aiofiles==25.1.0
aiohappyeyeballs==2.7.1
aiohttp==3.14.3
aiohttp_socks==0.12.0
aiosignal==1.4.0
atomicwrites==1.4.1
attrs==26.1.0
cachetools==7.2.0
cffi==2.1.1
cryptography==50.0.1
frozenlist==1.8.0
h11==0.16.0
h2==4.4.1
hpack==4.2.0
hyperframe==6.1.0
idna==3.20
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
lxmf==1.1.1
matrix-nio==0.26.0
multidict==6.9.1
peewee==3.19.0
propcache==0.5.4
psutil==7.2.2
pycparser==3.0
pycryptodome==3.23.0
pyserial==3.5
python-socks==3.1.1
referencing==0.37.0
rns==1.5.5
rpds-py==2026.6.3
unpaddedbase64==2.1.0
vodozemac==0.10.0
yarl==1.25.1
